$navbar-height: 80px;
$navbar-logo-width: 150px;
$navbar-color: #333;
$navbar-bg-color: #fff;
$navbar-link-color: #333;
$navbar-link-hover-color: #fff;
// $navbar-button-bg-color: #ff3b3f;
$navbar-button-text-color: #fff;
$navbar-button-hover-bg-color: #222;
$navbar-background: rgb(6, 59, 149);
$bg-general: rgb(53, 82, 131);
$disabled-gray: #d3d3d3;

$primary-color: #ff3b3f;
$secondary-color: #193E8E;
$white: #ffffff;

